:root {
    --btn-font: 20px;
    --color-grey: #cccccc;
    --color-grey-hover: #b1b1b1;
    --color-light-greenblue: #BDF4F4;
    --color-white: #fff;
    --color-dark-greenblue: #1E6673;
    --color-dark-greenblue-hover: #19555f;
    --color-medium-greenblue: #2FA4B8;
    --color-ultra-light-grey: #F0F0F0;
    --background-image: url("../assets/img/Background.svg");
}
body {
    font-family: 'Quicksand', sans-serif;
}
.login {
    height: 100vh;
    display: grid;
    flex-direction: row;
    align-items: center;
    grid-template-columns: 1fr 1.3fr;
    animation: moveAnimation 1s ease-in;
}
.background-image {
    background: var(--background-image);
    background-repeat: no-repeat;
    background-size: cover;
}
.myform__container{
    display: flex;
    justify-content: center;
    grid-column: 2/3;
}
.text__link {
    text-decoration: none;
    color: var(--color-dark-greenblue);
}
.myform {
    box-shadow: 0 0 15px var(--color-grey);
    background-color: var(--color-white);
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    padding: 50px 70px;
    align-self: center;
    animation: moveAnimation 1s ease-in;
}
.myform__text {
    margin-bottom: 20px;
    margin-top: 30px;
    color: var(--color-dark-greenblue);
    align-self: flex-start;
}
.myform__text.text--nodisplay {
    display: none;
}
.form__label {
    font-size: 16px;
    color: var(--color-medium-greenblue);
}
.form__input {
    display: flex;
    box-sizing: border-box;
    border: 1px var(--color-grey) solid;
    border-radius: 5px;
    padding-left: 5px; 
    margin: 5px 0 10px 0;;
}
.form__input--pass {
    outline: none;
    border: none;
    border-radius: 100px;
    width: 100%;
}
.form__input-contain {
    margin: 5px 0 10px 0;
    height: 29px;
    width: 100%;
}
.form__input-contain:focus {
    outline: none;
}
/*Buttons register and google signup*/

.btn--noBorder {
    border: none;
}
.btn--noOutline {
    outline: none;
}
.btn__icon {
    margin-left: auto;
    display: flex;
    align-self: center;
    background-color: transparent;
    user-select: none;
}
.myform__btns {
    display: flex;
    flex-direction: column;
}
.btn--submit {
    color: var(--color-white);
    background-color: var(--color-dark-greenblue);
    border-radius: 100px;
    font-size: 18px;
    padding: 10px 30px 10px 30px;
    margin: 0;
    margin-top: 20px;
    align-self: center;
}
.btn--submit:hover {
    background-color: var(--color-dark-greenblue-hover);
}
@keyframes moveAnimation {
    0% {
        opacity: 0;
        transform: translateX(100);
    }
    100% {
        opacity: 100;
        transform: 0;
    }
}
.forgot__pass {
    text-decoration: none;
    font-size: 16px;
    color: var(--color-dark-greenblue);
    align-self: flex-end;
}
/* Form input width */

.myform__field {
    width: 100%;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
.myform__title {
    margin: 0;
    font-weight: bolder;
    text-align: center;
    color: var(--color-dark-greenblue);
    font-size: 40px;
}
.input-ctn{
    display: flex;
    flex-direction: row;
}
.input{
    display: flex;
    border: 1px var(--color-grey) solid;
    border-radius: 100px;
    padding: 0 10px;
    margin: 5px 0 10px 0;
}
.myform__btn {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.input--no-validate {
    border: 1px #ff0000 solid;
}
input[type="password"] {
    margin-bottom: 0px;
}
.forgot-pass--ctn {
    margin-top: 5px;
}
#alerta-login{
  padding: 10px; 
  border-radius: 5px;
  text-align: center;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

/* Responsive login page*/
/*Tablet responsive login*/
@media screen and (max-width: 1265px) {
    .login-page .register {
        height: 100vh;
        grid-template-columns: 1fr 1fr;
    }
    .login-page .myform__container {
        grid-column: 1/3;
    }
    .login-page .background-image {
        background-image: var(--background-image);
    }
    .login-page .myform-ctn {
        background-color: var(--color-light-greenblue);
    }
    .login-page .myform {
        max-width: 600px;
        background-color: var(--color-white);
        display: inline-flex;
        flex-direction: column;
    }
}
/*responsive to phone*/
@media screen and (max-width:500px)and (min-width:376px) {
    .login-page .register {
        height: 100vh;
        display: flex;
        background-color: var(--color-white);
    }
    .login-page .background-image {
        background: none;
    }
    .login-page .myform__container {
        background-color: var(--color-white);
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .login-page .myform {
        width: 100%;
        display: inline;
        padding: 0px 60px;
        box-shadow: none;
        border-radius: 0px;
        animation: 1s moveAnimation ease-in;
    }
    .login-page .myform__title {
        font-size: 40px;
    }
    .login-page .myform__label {
        font-size: 13px;
    }
    .login-page .btn--submit {
        font-size: 16px;
    }
    .login-page .btn--google {
        padding: 4px;
    }
    .login-page .myform__text {
        display: none;
    }
    .myform__text.text--nodisplay {
        display: block;
        margin: auto;
        text-align: center;
    }
}
@media screen and (max-width:375.99px)and (min-width:0px) {
    .login-page .register {
        height: 100vh;
        display: flex;
        background-color: var(--color-white);
    }
    .login-page .background-image {
        background: none;
    }
    .login-page .myform__container {
        height: 100vh;
        background-color: var(--color-white);
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .login-page .myform {
        width: 100%;
        display: inline;
        padding: 0px 60px;
        box-shadow: none;
        border-radius: 0px;
        animation: 1s moveAnimation ease-in;
    }
    .login-page .form__label {
        font-size: 14px;
    }
    .login-page .btn--submit {
        font-size: 16px;
    }
    .login-page .btn--google {
        padding: 4px;
    }
    .login-page .myform__text {
        display: none;
    }
    .myform__text.text--nodisplay {
        display: block;
        margin: auto;
        text-align: center;
    }
}