:root {
    --title-font: 40px;
    --label-font: 16px;
    --btn-font: 20px;
    --color-grey: #cccccc;
    --color-grey-hover: #b1b1b1;
    --color-light-greenblue: #BDF4F4;
    --color-white: #fff;
    --color-dark-greenblue: #1E6673;
    --color-dark-greenblue-hover: #19555f;
    --color-medium-greenblue: #2FA4B8;
    --color-ultra-light-grey: #F0F0F0;
    --background-image: url("../assets/img/Background.svg");
}

* {
    font-family: 'Quicksand', sans-serif;
}

/*Register box*/

.register-page .register, .login-page .login {
    height: 100vh;
    display: grid;
    flex-direction: row;
    align-items: center;
    grid-template-columns: 1fr 1.3fr;
    animation: moveAnimation 1s ease-in;
}

.resetpass-page .resetpass {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.register-page .background-image, .login-page .background-image {
    background: var(--background-image);
    background-repeat: no-repeat;
    background-size: cover;
}
.resetpass-page .background-image{
    background-color: var(--color-light-greenblue);
}
/*Form box properties*/

.register-page .myform__container, .login-page .myform__container, .resetpass-page .myform__container {
    display: flex;
    justify-content: center;
    grid-column: 2/3;
}

/*login text ref*/

.myform__text {
    margin-bottom: 30px;
    color: var(--color-dark-greenblue);
    align-self: flex-start;
}

.resetpass-page .myform__text {
    align-self: center;
    font-size: 16px;
}

.text__link {
    text-decoration: none;
    color: var(--color-dark-greenblue);
}

.register-page .myform, .login-page .myform, .resetpass-page .myform {
    box-shadow: 0 0 15px var(--color-grey);
    background-color: var(--color-white);
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    padding: 20px 80px;
    padding-right: 85px;
    width: 40%;
    align-self: center;
    animation: moveAnimation 1s ease-in;
}
.resetpass-page .myform{
    width: 45%;
}

.myform__title {
    margin-bottom: 10px;
    font-weight: bolder;
    text-align: center;
    color: var(--color-dark-greenblue);
    font-size: var(--title-font);
}

.myform__text.text--nodisplay {
    display: none;
}

/*Text input label and input*/

.form__label {
    font-size: var(--label-font);
    color: var(--color-medium-greenblue);
}

.form__input {
    display: flex;
    border: 1px var(--color-grey) solid;
    border-radius: 5px;
    padding-left: 5px;
    margin: 5px 0 10px 0;
    width: 100%;
}

.form__input--pass {
    outline: none;
    border: none;
    border-radius: 100px;
    width: 100%;
}

.register-page .myform__field {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*Input covering all the width box*/

.form__input-contain {
    margin: 5px 0 10px 0;
    height: 29px;
    width: 100%;
}

.form__input-contain:focus {
    outline: none;
}

/*Div with icon covering all width box (Password fields)*/

.form__input--contain-password {
    align-content: center;
    display: inline-flex;
    width: 100%;
    height: 29px;
}

.input--no-outline:focus {
    outline: none;
}

/*Buttons register and google signup*/

.btn--noBorder {
    border: none;
}

.btn--noOutline {
    outline: none;
}

.btn__icon {
    margin-left: auto;
    display: flex;
    align-self: center;
    background-color: transparent;
    user-select: none;
}

.myform__btns {
    display: flex;
    flex-direction: column;
}

.btn--submit {
    color: var(--color-white);
    background-color: var(--color-dark-greenblue);
    border-radius: 100px;
    font-size: 18px;
    padding: 10px 30px 10px 30px;
    margin: 10px;
    margin-top: 20px;
    align-self: center;
}

.btn--submit:hover {
    background-color: var(--color-dark-greenblue-hover);
}

.btn--google {
    box-shadow: 2px 2px 5px var(--color-grey);
    width: 50px;
    height: 50px;
    padding: 0;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    border: 1px var(--color-grey) solid;
    margin: 10px;
    align-self: center;
}

.btn--google:hover {
    background-color: var(--color-ultra-light-grey);
}

/*Google img signUp*/

.img-google {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*Icon color and properties*/

.material-icons-outlined.md--grey {
    color: var(--color-grey);
    margin: 0;
    padding: 0;
    height: 100%;
}

.material-icons-outlined.md--grey:hover {
    color: var(--color-grey-hover);
    user-select: none;
}

/*Responsive to the register page*/

/*Tablet responsive*/

@media screen and (max-width: 1265px) {
    .register-page .register {
        height: 100vh;
        grid-template-columns: 1fr 1fr;
    }
    .register-page .myform__container {
        grid-column: 1/3;
    }
    .register-page .background-image {
        background-image: var(--background-image);
    }
    .register-page .myform-ctn {
        background-color: var(--color-light-greenblue);
    }
    .register-page .myform {
        max-width: 600px;
        background-color: var(--color-white);
        display: inline-flex;
        flex-direction: column;
        padding: 20px 80px;
    }
    .register-page .myform__title {
        font-size: 38px;
    }
    .register-page .myform__label {
        font-size: 14px;
    }
    .register-page .btn--submit {
        font-size: 27px;
    }
    .register-page .btn--google {
        padding: 4px;
    }
}

@media screen and (max-width:500px)and (min-width:376px) {
    .register-page .register {
        height: 100vh;
        display: flex;
        background-color: var(--color-white);
    }
    .register-page .background-image {
        background: none;
    }
    .register-page .myform__container {
        background-color: var(--color-white);
        display: flex;
        padding: 60px;
        padding-right: 70px;
        width: 100%;
        justify-content: center;
    }
    .register-page .myform {
        width: 100%;
        display: inline;
        padding: 0px 60px;
        box-shadow: none;
        border-radius: 0px;
        animation: 1s moveAnimation ease-in;
    }
    .register-page .myform__title {
        font-size: 36px;
    }
    .register-page .myform__label {
        font-size: 13px;
    }
    .register-page .btn--submit {
        font-size: 26px;
    }
    .register-page .btn--google {
        padding: 4px;
    }
}

@media screen and (max-width:375.99px)and (min-width:0px) {
    .register-page .register {
        height: 100vh;
        display: flex;
        background-color: var(--color-white);
    }
    .register-page .background-image {
        background: none;
    }
    .register-page .myform__container {
        height: 100vh;
        background-color: var(--color-white);
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .register-page .myform {
        width: 100%;
        display: inline;
        padding: 0px 60px;
        box-shadow: none;
        border-radius: 0px;
        animation: 1s moveAnimation ease-in;
    }
    .register-page .myform__title {
        font-size: 30px;
    }
    .register-page .form__label {
        font-size: 14px;
    }
    .register-page .btn--submit {
        font-size: 16px;
    }
    .register-page .btn--google {
        padding: 4px;
    }
}

@keyframes moveAnimation {
    0% {
        opacity: 0;
        transform: translateX(100);
    }
    100% {
        opacity: 100;
        transform: 0;
    }
}

/*register text ref*/

.login-page .forgot__pass {
    text-decoration: none;
    font-size: 14px;
    color: var(--color-dark-greenblue);
    align-self: flex-end;
}

.login-page .myform__container {
    display: flex;
    justify-content: center;
    grid-column: 2/3;
}

/* Form input width */

.login-page .myform__field {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.login-page .myform__title {
    font-weight: bolder;
    text-align: center;
    color: var(--color-dark-greenblue);
    font-size: var(--title-font);
}

.login-page .label {
    font-size: var(--label-font);
    color: var(--color-medium-greenblue);
}

.login-page .input-ctn {
    display: flex;
    flex-direction: row;
}

.login-page .input {
    display: flex;
    border: 1px var(--color-grey) solid;
    border-radius: 100px;
    padding: 0 10px;
    margin: 5px 0 10px 0;
    width: 100%;
}

.login-page .myform__btn {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.login-page .input {
    display: flex;
    border: 1px var(--color-grey) solid;
    border-radius: 100px;
    padding: 0 10px;
    margin: 5px 0 10px 0;
}

.login-page .input--no-validate {
    border: 1px #ff0000 solid;
}

.login-page input[type="password"] {
    margin-bottom: 0px;
}

.login-page .forgot-pass--ctn {
    margin-top: 5px;
}

/* Responsive login page*/

/*Tablet responsive login*/

@media screen and (max-width: 1265px) {
    .login-page .register {
        height: 100vh;
        grid-template-columns: 1fr 1fr;
    }
    .login-page .myform__container {
        grid-column: 1/3;
    }
    .login-page .background-image {
        background-image: var(--background-image);
    }
    .login-page .myform-ctn {
        background-color: var(--color-light-greenblue);
    }
    .login-page .myform {
        max-width: 600px;
        background-color: var(--color-white);
        display: inline-flex;
        flex-direction: column;
    }
    .login-page .myform__field{
        width: 100%;
    }
    .login-page .myform__title {
        font-size: 38px;
    }
    .login-page .myform__label {
        font-size: 14px;
    }
    .login-page .btn--submit {
        font-size: 27px;
    }
    .login-page .btn--google {
        padding: 4px;
    }
}

/*responsive to phone*/

@media screen and (max-width:500px)and (min-width:376px) {
    .login-page .register {
        height: 100vh;
        display: flex;
        background-color: var(--color-white);
    }
    .login-page .background-image {
        background: none;
    }
    .login-page .myform__container {
        background-color: var(--color-white);
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .login-page .myform {
        width: 100%;
        display: inline;
        padding: 0px 60px;
        box-shadow: none;
        border-radius: 0px;
        animation: 1s moveAnimation ease-in;
    }
    .login-page .myform__title {
        font-size: 40px;
    }
    .login-page .myform__label {
        font-size: 13px;
    }
    .login-page .btn--submit {
        font-size: 26px;
    }
    .login-page .btn--google {
        padding: 4px;
    }
    .login-page .myform__text {
        display: none;
    }
    .myform__text.text--nodisplay {
        display: block;
        margin: auto;
        text-align: center;
    }
}

@media screen and (max-width:375.99px)and (min-width:0px) {
    .login-page .register {
        height: 100vh;
        display: flex;
        background-color: var(--color-white);
    }
    .login-page .background-image {
        background: none;
    }
    .login-page .myform__container {
        height: 100vh;
        background-color: var(--color-white);
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .login-page .myform {
        width: 100%;
        display: inline;
        padding: 0px 60px;
        box-shadow: none;
        border-radius: 0px;
        animation: 1s moveAnimation ease-in;
    }
    .login-page .form__label {
        font-size: 14px;
    }
    .login-page .btn--submit {
        font-size: 16px;
    }
    .login-page .btn--google {
        padding: 4px;
    }
    .login-page .myform__text {
        display: none;
    }
    .myform__text.text--nodisplay {
        display: block;
        margin: auto;
        text-align: center;
    }
}


/* Responsive reset page*/

/*responsive to phone*/

@media screen and (max-width:500px)and (min-width:376px) {
    .resetpass-page .resetpass {
        height: 100vh;
        display: flex;
        background-color: var(--color-white);
    }
    .resetpass-page .background-image {
        background: none;
    }
    .resetpass-page .myform__container {
        background-color: var(--color-white);
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .resetpass-page .myform {
        width: 100%;
        display: inline;
        padding: 0px 60px;
        box-shadow: none;
        border-radius: 0px;
        animation: 1s moveAnimation ease-in;
    }
    .resetpass-page .myform__title {
        margin:0;
        font-size: 40px;
    }
    .resetpass-page .myform__label {
        font-size: 13px;
    }
    .resetpass-page .btn--submit {
        font-size: 20px;
    }
    .resetpass-page .btn--google {
        padding: 4px;
    }
    
}

@media screen and (max-width:375.99px)and (min-width:0px) {
    .resetpass-page.register {
        height: 100vh;
        display: flex;
        background-color: var(--color-white);
    }
    .resetpass-page .background-image {
        background: none;
    }
    .resetpass-page .myform__container {
        height: 100vh;
        background-color: var(--color-white);
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .resetpass-page .myform {
        width: 100%;
        display: inline;
        padding: 0px 60px;
        box-shadow: none;
        border-radius: 0px;
        animation: 1s moveAnimation ease-in;
    }
    .resetpass-page .form__label {
        font-size: 14px;
    }
    .resetpass-page .btn--submit {
        font-size: 16px;
    }
    .resetpass-page .btn--google {
        padding: 4px;
    }
    
}

/* Google icons into the css file*/

@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v80/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff2');
}

.material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}